.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.title_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.content_div {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: rgb(121, 255, 255);
  transition: all ease 0.5s;
}
.active {
  height: auto;
}
